{% extends 'base.html' %}

{% block body %}

  <div class="container">
    <h1>Faça login ou crie sua conta para continuar</h1>
    <hr>
    <!-- row e col servem para deixar login e criar conta lado a lado-->
    <div class="row">
      <div class="col">
        <!-- sempre que for criar um formulário, coloque o método post!-->
        <!-- o action será definido internamente e o border é uma borda-->
         <!-- padding é distância borda pro interno e margem é distância borda pro exterior, mt é margem top-->
        <form method="POST" action="" class="border p-4 mt-2">
          {{ form_login.csrf_token }}
          <legend>login</legend> <!-- legend é um h1 melhor pra form -->
          <fieldset> <!-- field set em todas as caixas de texto-->
            <!-- separa cada grupo em um div com o form-group -->
            <div class="form-group">
              {{ form_login.email.label(class='form-control-label') }} <!-- título da caixa de texto pro usuário saber o que é -->

              {#se tiver erro, o print ali fica invalido (classe do bootstrap pra ficar bonito) e é printado o erro#}
              {% if form_login.email.errors %}
                {{ form_login.email(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_login.email.errors %}
                    {{erro}}
                  {% endfor %}
                </div>
                {% else %} {#caso contrário, continua normal#}
                {{ form_login.email(class='form-control') }} <!-- caixa de texto ou botão pro usuário interagir -->
              {% endif %}    
              
            </div>
            <div class="form-group">
              {{ form_login.senha.label(class='form-control-label') }} <!-- como isso é uma variável do python, é assim que se coloca classe nele, faça isso para toda caixa de texto-->
              {% if form_login.senha.errors %}
                {{ form_login.senha(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_login.senha.errors %}
                    {{erro}}
                  {% endfor %}
                </div>
                {% else %} 
                {{ form_login.senha(class='form-control') }} <!-- essa classe deixou bem mais bonito -->
              {% endif %}
            </div>
            <div class="form-group form-check">
              {{ form_login.lembrar_dados.label(class='form-check-label mt-1') }}
              {{ form_login.lembrar_dados(class='form-check-input mt-2') }}
            </div>
          </fieldset>
          {{ form_login.botao_submit_login(class="btn btn-primary mt-3") }}
        </form>
      </div>

      <div class="col">
        <form method="POST" action="" class="border p-4 mt-2">
          {{form_criarconta.csrf_token}}
          <legend>criar conta</legend>
          <fieldset>
            <div class="form-group">
              {{ form_criarconta.username.label(class='form-control-label') }}
                {% if form_criarconta.username.errors %}
                {{ form_criarconta.username(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_criarconta.username.errors %}
                    {{erro}}
                  {% endfor %}
                </div>
                {% else %} 
                {{ form_criarconta.username(class='form-control') }} 
              {% endif %}
            </div>
            <div class="form-group">
              {{ form_criarconta.email.label(class='form-control-label') }}
                 {% if form_criarconta.email.errors %}
                {{ form_criarconta.email(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_criarconta.email.errors %}
                    {{ erro }}
                  {% endfor %}
                </div>
                {% else %} 
                {{ form_criarconta.email(class='form-control') }} 
              {% endif %}
            </div>
            <div class="form-group">
              {{ form_criarconta.senha.label(class='form-control-label') }}
                 {% if form_criarconta.senha.errors %}
                {{ form_criarconta.senha(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_criarconta.senha.errors %}
                    {{erro}}
                  {% endfor %}
                </div>
                {% else %} 
                {{ form_criarconta.senha(class='form-control') }} 
              {% endif %}
            </div>
            <div class="form-group">
              {{ form_criarconta.confirmacao_senha.label(class='form-control-label') }}
                 {% if form_criarconta.confirmacao_senha.errors %}
                {{ form_criarconta.confirmacao_senha(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_criarconta.confirmacao_senha.errors %}
                    {{erro}}
                  {% endfor %}
                </div>
                {% else %} 
                {{ form_criarconta.confirmacao_senha(class='form-control') }} 
              {% endif %}
            </div>
          </fieldset>
          {{ form_criarconta.botao_submit_criarconta(class="btn btn-primary mt-3") }}
        </form>
      </div>
    </div>
  </div>

{% endblock %}
